<!DOCTYPE html>
<html>

<head>
    <title>Team Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheet/loader/loader.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/team/team.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/menu/menu.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/event/eventmenu.css">
    <link rel='stylesheet' type="text/css" href='stylesheet/footer/footer.css'>
    <link rel='stylesheet' type="text/css" href='stylesheet/team/footer.css'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Philosopher&display=swap" rel="stylesheet">

</head>

<body>

    <div id='loader'>
        <div id='mascot-baton'>
            <div id='flame' class="fire_place">
                <div class="blur_fire">
                    <div class="big_flame"></div>
                </div>
                <div class="spark spark1">i</div>
                <div class="spark spark2">n</div>
                <div class="spark spark3">c</div>
                <div class="spark spark4">a</div>
                <div class="spark spark5">n</div>
                <div class="spark spark6">d</div>
                <div class="spark spark7">e</div>
                <div class="spark spark8">s</div>
                <div class="spark spark9">c</div>
                <div class="spark spark10">e</div>
                <div class="spark spark11">n</div>
                <div class="spark spark12">c</div>
                <div class="spark spark13">e</div>
            </div>
            <img src="image/loader/airawat-holding-torch.png" id="baton">
        </div>
    </div>

    <!-- menu -->
    <div id="menu">

        <a href='/'>
            <div id='logo'>
            </div>
        </a>

        <div id="cld1c">
            <div id="cld1">
                <div class="content">Menu</div>
            </div>
        </div>

        <div id="cld2c">
            <div id="cld2">
            </div>
        </div>

        <div id="cld3c">
            <div id="cld3">
            </div>
        </div>

        <div id="cld4c">
            <div id="cld4">
                <a href="/event" id="link1">Events</a>
            </div>
        </div>

        <div id="cld5c">
            <div id="cld5">
                <a href="/gallery" id="link2">Gallery</a>
            </div>
        </div>

        <div id="cld6c">
            <div id="cld6">
                <a href="/brochure" id="link3">Brochure</a>
            </div>
        </div>

        <div id="cld7c">
            <div id="cld7">
                <a href="/register" id="link4">Tickets</a>
            </div>
        </div>

        <div id="cld8c">
            <div id="cld8">
                <a href="/munhome" id="link5">NITS MUN</a>
            </div>
        </div>

        <div id="cld9c">
            <div id="cld9">
                <a href="http://www.razzmatazznits.com" id="link6">Razzmatazz</a>
            </div>
        </div>


        <div id="cld10c">
            <div id="cld10">
                <a href="/indieunplugged" id="link6">Indie</a>
            </div>
        </div>


        <div id="cld11c">
            <div id="cld11">
                <a href="/thundermarch" id="link6">Thundermarch</a>
            </div>
        </div>

    </div>

    <div class="background"></div>
    <div class="team">
        
        <div class="circle33 circle" id="director" style="background-color: rgb(179, 135, 41); position: absolute; top:17vw; left: 25vw;">
            <div class="info">
                <h2>Prof. Sivaji Bandyopadhyay<br><span>Director,NIT Silchar</span></h2>
                <ul>
                  <li><a href="https://www.facebook.com/director.nitsilchar/"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>
         </div>
        <div class="circle20 circle dir" id="color" style="background-color: #5edfff; position: absolute; top:7vw; left: 55vw;"><div class="content">Director <br>NIT Silchar</div></div>
        <div class="circle15 circle" id="color1"  style="background-color: #ffeadb; position: absolute; top:32vw; left: 60vw;"> </div>
        <div class="circle30 circle" id="patron" style="background-color: #cd4dcc; position: absolute; top:57vw; left: 57vw;">
            <div class="info">
                  <h2>Prof. Rahul Dev Misra<br><span>Dean SW, NIT Silchar</span></h2>
                  <ul>
                    <li><a href="https://www.facebook.com/rahul.misra.12532"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div>
         </div>
        <div class="circle30 circle" id="convener1" style="background-color: rgb(235, 138, 74); position: absolute; top:82vw; left: 35vw;">
            <div class="info">
              <h2>Ashish Ranjan<br><span>Vice President,<br>GUB 19-20</span></h2>
              <ul>
                  <li><a href="https://www.facebook.com/whyisashish"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
              </ul>

            </div>
         </div>
        <div class="circle10 circle" id="color"  style="background-color: #5edfff; position: absolute; top:38vw; left: 10vw;"> </div>
        <div class="circle12 circle pat" id="color2"  style="background-color: #f7c5a8; position: absolute; top:50vw; left: 45vw;"><div class="content">Patron<br>NIT Silchar</div></div>
        <div class="circle15 circle" id="color1"  style="background-color: #ffeadb; position: absolute; top:49vw; left: 20vw;"> </div>
        <div class="circle10 circle" id="color3" style="background-color: #ff6666; position: absolute; top:88vw; left: 70vw;"> </div>
        <div class="circle12 circle" id="color2"  style="background-color: #cd4dcc; position: absolute; top:99vw; left: 65vw;"> </div>
        <div class="circle14 circle" id="color"  style="background-color: #5edfff; position: absolute; top:110vw; left: 55vw;"> </div>
        <div class="circle15 circle" id="color1"  style="background-color: #ff6666; position: absolute; top:102vw; left: 22vw;"> </div>
        <div class="circle18 circle con" id="color2"  style="background-color: #cd4dcc; position: absolute; top:113vw; left: 35vw;"><div class="content">Conveners</div></div>
        <div class="circle33 circle" id="convener2" style="background-color: aqua; position: absolute; top:120vw; left: 4vw;">
            <div class="info">
                  <h2>Dupal Jit Das<br><span>General Secratory, <br>GUB 19-20</span></h2>
              <ul>
                  <li><a href="https://www.facebook.com/dupal.jit"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.instagram.com/_optimus_d/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>

            </div>
        </div>
        <div class="circle33 circle" id="coordinator" style="background-color: aqua; position: absolute; top:120vw; left: 62vw;">
            <div class="info">
                  <h2>Sarvagya Saxena<br><span>General Cultural Secratory, <br>GUB 19-20</span></h2>
                <ul>
                  <li><a href="https://www.facebook.com/sarvagya.saxena.18"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="circle10 circle" id="color"  style="background-color: #ff6666; position: absolute; top:135vw; left: 46vw;"> </div>
        <div class="circle15 circle coor" id="color"  style="background-color: aqua; position: absolute; top:148vw; left: 45vw;"><div class="content">Chief <br>Coordinator</div></div>
        <div class="circle33 circle" id="marketing" style="background-color: aqua; position: absolute; top:165vw; left: 40vw;">
            <div class="info">
                  <h2>Shikher Chitransh Srivastava<br><span>Marketing Head</span></h2>
                <ul>
                  <li><a href="https://www.facebook.com/scsrivastav"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="circle12 circle" id="color1"  style="background-color: #fea5ad; position: absolute; top:164vw; left: 29vw;"> </div>
        <div class="circle14 circle" id="color3"  style="background-color: #a0ffe6; position: absolute; top:180vw; left: 25vw;"> </div>
        <div class="circle11 circle" id="color2" style="background-color: #fae3d9; position: absolute; top:162vw; left: 70vw;"> </div>
        <div class="circle13 circle mar"  style="background-color: #fea5ad; position: absolute; top:173vw; left: 75vw;"></div>
        <div class="circle15 circle conf"  style="background-color: #a0ffe6; position: absolute; top:197vw; left: 37vw;"></div>
        <div class="circle17 circle market" id="color"   style="background-color: #fae3d9; position: absolute; top:191vw; left: 70vw;"><div class="content">Marketing <br>Heads</div></div>
        <div class="circle20 circle co" style="background-color: #a0ffe6; position: absolute; top:204vw; left: 53vw;"><div class="content">Content</div></div>
        <div class="circle33 circle" id="content" style="background-color: #cd4dcc; position: absolute; top:214vw; left: 22vw;">
            <div class="info">
                  <h2>Abhishek Kumar Sharma<br><span>Content Head</span></h2>
                <ul>
                  <li><a href="https://www.facebook.com/abhishekkumar.sharma.96930"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="circle5 circle" id="color"  style="background-color: #c7f0db; position: absolute; top:232vw; left: 17vw;"></div>
        <div class="circle8 circle" id="color1"  style="background-color: #f67280; position: absolute; top:237.5vw; left: 16vw;"> </div>
        <div class="circle10 circle" id="color2"  style="background-color: #02a8a8; position: absolute; top:244vw; left: 21vw;"> </div>
        <div class="circle15 circle pr" id="color3"   style="background-color: #f8b195; position: absolute; top:248vw; left: 30vw;"><div class="content">Public <br>Relations</div></div>
        <div class="circle10 circle" style="background-color: aqua; position: absolute; top:250vw; left: 46vw;"> </div>
        <div class="circle33 circle" id="pr" style="background-color: #cd4dcc; position: absolute; top:244vw; left: 57vw;">
            <div class="info">
                <h2>Udit Pathak<br><span>PR Head</span></h2>
                <ul>
                  <li><a href="https://www.facebook.com/udit.pathak.54"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>

         </div>
        <div class="circle33 circle" id="publicity1" style="background-color: aqua; position: absolute; top:270vw; left: 2vw;">
            <div class="info">
                <h2>Nishan deb<br><span>Publicity Head</span></h2>
                <ul>
                  <li><a href="https://www.facebook.com/nishan.deb.3"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="circle10 circle" id="color2"   style="background-color: #cd4dcc; position: absolute; top:262vw; left: 25vw;"> </div>
        <div class="circle33 circle" id="publicity2" style="background-color: aqua; position: absolute; top:289vw; left: 45.5vw;">
            <div class="info">
                <h2>Swapnil Jadon<br><span>Publicity Head</span></h2>
                <ul>
                  <li><a href="https://www.facebook.com/swapnil.jadon.5"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="circle10 circle" id="color"  style="background-color: #ff6666; position: absolute; top:290vw; left: 35vw;"> </div>
        <div class="circle10 circle" id="color1" style="background-color: #cd4dcc; position: absolute; top:277vw; left: 62vw;"> </div>
        <div class="circle15 circle ph" style="background-color: #ff6666; position: absolute; top:270vw; left: 40vw;"><div class="content">Publicity <br>Heads</div></div>
        <div class="circle24 circle" id="design1" style="background-color: #5edfff; position: absolute; top:315vw; left: 4vw;">
            <div class="info4">
                <h2>Tushar Agarwal<br><span>Design Head</span></h2>
                <ul>
                  <li><a href="https://www.facebook.com/tush6668?ref=br_rs"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="circle20 circle" id="design2" style="background-color: #5edfff; position: absolute; top:329.7vw; left: 27vw;">
            <div class="info3">
                <h2>Akashjyoti hazarika<br><span>Design Head</span></h2>
                <ul>
                  <li><a href="https://www.facebook.com/akash.hazarika.69"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="circle7 circle" id="color1"  style="background-color: #bbded6; position: absolute; top:300vw; left: 33vw;"> </div>
        <div class="circle10 circle design" id="color3"   style="background-color: #ffb6b9; position: absolute; top:307vw; left: 27.5vw;"><div class="content">Design <br>Heads</div></div>
        <div class="circle6 circle" id="color"  style="background-color: #0fabbc; position: absolute; top:315vw; left: 36vw;"> </div>
        <div class="circle4 circle" id="color2"  style="background-color: #3282b8; position: absolute; top:321vw; left: 41vw;"> </div>
        <div class="circle9 circle webteam" id="color2"   style="background-color: #bbded6; position: absolute; top:328vw; left: 49vw;"><div class="content">Web <br>Team</div></div>
        <div class="circle5 circle" style="background-color: #ffb6b9; position: absolute; top:325vw; left: 45vw;"> </div>
        <div class="circle13 circle"  id="web1" style="background-color: #3282b8; position: absolute; top:325vw; left: 61vw;"><div class="info1">
                  <h2>Mrinmoy Mandal</h2>
                  <ul>
                    <li><a href="https://facebook.com/mrino.mo"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div></div>
        <div class="circle15 circle" id="web2" style="background-color: aqua; position: absolute; top:337vw; left: 50vw;"><div class="info2">
                  <h2>Puja Jain</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/puja.jain.98478"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div></div>
        <div class="circle15 circle" id="web3" style="background-color: aqua; position: absolute; top:321vw; left: 76vw;"><div class="info2">
                  <h2>Abhisek Ray</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/abhisek.ray.925"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div></div>
        <div class="circle24 circle" id="web4" style="background-color: aqua; position: absolute; top:337vw; left: 67vw;"><div class="info4">
                  <h2>Tarun Singhaniya</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/TARUNSINGHANIA1998"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div></div>
        <div class="circle13 circle" id="web5" style="background-color: aqua; position: absolute; top:354vw; left: 56vw;"><div class="info1">
                  <h2>Aditya Singh Sisodiya</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/adityasingh.sisodiya.927"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div></div>
        <div class="circle15 circle" id="web6" style="background-color: aqua; position: absolute; top:362vw; left: 68vw;"><div class="info2">
                  <h2>Anuva Bhattacharjee</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/anuva.bhattacharjee.37"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div></div>
        <div class="circle13 circle" id="web7" style="background-color: aqua; position: absolute; top:371vw; left: 83vw;"><div class="info1">
                  <h2>Kartik Verma</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/kartik.verma.5492"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div></div>
        <div class="circle15 circle" id="web8" style="background-color: aqua; position: absolute; top:351.5vw; left: 40vw;"><div class="info2">
                  <h2>Rahul Kumar Gupta</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/rahul.misra.12532"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div></div>
        <div class="circle24 circle" id="web9" style="background-color: aqua; position: absolute; top:368vw; left: 44vw;"><div class="info4">
                  <h2>Prakash Jha</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=100008283554587"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/unconsious_brain/"><i class="fab fa-instagram" aria-hidden="false"></i></a></li>
                  </ul>
            </div></div>
        <div class="circle13 circle" id="web10" style="background-color: aqua; position: absolute; top:365vw; left: 30vw;"><div class="info1">
                  <h2>Rajeev Saha</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/prakash.7661/about?section=education"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div></div>
        <div class="circle15 circle" id="web11" style="background-color: aqua; position: absolute; top:379vw; left: 29vw;"><div class="info2">
                  <h2>Suvrajeet Kumar</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/suvrajeet.kumar"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div></div>
        <div class="circle15 circle" id="web12" style="background-color: aqua; position: absolute; top:378vw; left: 69vw;"><div class="info2">
                  <h2>Shaswat Priyadarshy</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/shashwat.priyadarshy.3"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div></div>
        <div class="circle20 circle" id="web13" style="background-color: aqua; position: absolute; top:346.2vw; left: 13.5vw;"><div class="info3">
                  <h2>Abinash Dutta</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/abinash.kashyap.96"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div></div>
        <div class="circle15 circle" id="web14" style="background-color: aqua; position: absolute; top:369vw; left: 14vw;"><div class="info2">
                  <h2>Nabanita Bania</h2>
                  <ul>
                    <li><a href="https://www.facebook.com/payal.bania.35"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                  </ul>
            </div></div>



    </div>

    <footer class="footer-distributed">

        <div class="footer-left">
            <a href='/'><img src='/image/menu/logo.png' style="width: 100%;"></a>
        </div>

        <div class="footer-center">
            <h3>Quick Links</h3>
            <ul style="list-style:none;" class="footer-links">
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/team">Contact</a></li>
                <li><a href="/reachus">Reach Us</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
            </ul>
        </div>

        <div class="footer-right">
            <div class="footer-links">
                <a href="/campus">
                    <h3>Campus Ambassador</i>
                    </h3>
                </a>
            </div>
            <div class="footer-icons">
                <a href="https://www.facebook.com/incandescence.nits"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/incandnits?lang=en"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCb_0C06vYP674tyu50o7-Fg"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/incandescence.nits/"><i class="fab fa-instagram"></i></a>
                <a href="mailto:incandescencenitsilchar@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
        </div>

    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/menu/menu.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(window).resize(function(e) {
                adaptMenu();
                adaptContent();
            });
            adaptMenu();
            adaptContent();
            document.getElementById('loader').remove();
        });
    </script>
    <script src="js/team/team.js"></script>
</body>

</html>